<a routerLink="ProductCategory/add" class="btn btn-info">Add New</a>
<button class="btn btn-primary" (click)="LoadData()">Refresh</button>
<hr />
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of data">
            <td>{{cat.productCategoryID}}</td>
            <td>{{cat.name}}</td>
            
            <td class="btn-group">
                <a [routerLink]="['/ProductCategory/edit/', cat.productCategoryID]" class="btn btn-warning">Edit</a>
                <button class="btn btn-danger" (click)="DeleteProduct(cat)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
